
/**
 * CSS for the default views.
 */

/* Project selector */
.view-project-issue-votes-by-category #edit-filter0 {
  width: 225px;
}

/* Status selector */
.view-project-issue-votes-by-category #edit-filter1 {
  width: 225px;
}
