
.project-issue-voting-vote-up-act, .project-issue-voting-vote-up-inact, .project-issue-voting-vote-down-act, .project-issue-voting-vote-down-inact, .project-issue-voting-up-inact, .project-issue-voting-down-inact {
  display: block;
  text-decoration: none;
  width: 15px;
  height: 16px;
}
a.project-issue-voting-vote-up-inact, a.project-issue-voting-vote-down-inact, span.project-issue-voting-vote-up-inact, span.project-issue-voting-vote-down-inact {
  cursor: pointer;
}
a.project-issue-voting-vote-up-act, a.project-issue-voting-vote-down-act, span.project-issue-voting-vote-up-act, span.project-issue-voting-vote-down-act {
  cursor: default;
}
.project-issue-voting-vote-up-act, .project-issue-voting-vote-up-inact:hover {
  background: url(a_up_act.png) no-repeat 0px 0px;
}
.project-issue-voting-vote-up-inact, .project-issue-voting-up-inact {
  background: url(a_up_inact.png) no-repeat 0px 0px;
}
.project-issue-voting-vote-down-act, .project-issue-voting-vote-down-inact:hover {
  background: url(a_down_act.png) no-repeat 0px 0px;
}
.project-issue-voting-vote-down-inact, .project-issue-voting-down-inact {
  background: url(a_down_inact.png) no-repeat 0px 0px;
}
.project-issue-voting-votes {
  font-weight: bold;
}

.project-issue-voting-widget,
.project-issue-voting-total {
  float: right;
  padding: 0;
  margin: 0 1em 1em 1em;
  border: 0;
}
.project-issue-voting-widget .project-issue-voting-votes,
.project-issue-voting-total .project-issue-voting-votes {
  background: #eeb;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  padding: 3px;
  margin-bottom: 3px;
}
.project-issue-voting-widget .project-issue-voting-votes .project-issue-voting-votes {
  background: transparent;
  font-weight: normal;
  font-size: 1em;
  padding: 0;
  margin-bottom: 0;
}
.project-issue-voting-widget .project-issue-voting-votes-label,
.project-issue-voting-total .project-issue-voting-votes-label {
  font-size: 0.5em;
  background: transparent;
}
.project-issue-voting-total .project-issue-voting-votes-total-label,
.project-issue-voting-user .project-issue-voting-votes-user-label {
  font-size: 0.7em;
  font-weight: bold;
  background: transparent;
}
.project-issue-voting-widget .project-issue-voting-vote-up-act,
.project-issue-voting-widget .project-issue-voting-vote-up-inact,
.project-issue-voting-widget .project-issue-voting-up-inact,
.project-issue-voting-widget .project-issue-voting-vote-down-act,
.project-issue-voting-widget .project-issue-voting-vote-down-inact,
.project-issue-voting-widget .project-issue-voting-down-inact {
  display: block;
  width: auto;
  height: 22px;
}
.project-issue-voting-widget span.project-issue-voting-vote-up-act,
.project-issue-voting-widget span.project-issue-voting-vote-up-inact,
.project-issue-voting-widget span.project-issue-voting-up-inact,
.project-issue-voting-widget span.project-issue-voting-vote-down-act,
.project-issue-voting-widget span.project-issue-voting-vote-down-inact,
.project-issue-voting-widget span.project-issue-voting-down-inact {
  border: 1px solid #ccc;
}
.project-issue-voting-widget .project-issue-voting-vote-up-act {
  background: url(plus_act.png) no-repeat center 3px;
}
.project-issue-voting-widget .project-issue-voting-vote-up-inact,
.project-issue-voting-widget .project-issue-voting-up-inact {
  background: url(plus_inact.png) no-repeat center 3px;
}

.project-issue-voting-widget .project-issue-voting-vote-down-act {
  background: url(minus_act.png) no-repeat center 3px;
}
.project-issue-voting-widget .project-issue-voting-vote-down-inact,
.project-issue-voting-widget .project-issue-voting-down-inact {
  background: url(minus_inact.png) no-repeat center 3px;
}


/* Fixing IE6 bug, the "* html" make other browsers ignore it */

/* Hides from IE-mac \*/
* html .project-issue-voting-widget .project-issue-voting-vote-up-act,
* html .project-issue-voting-widget .project-issue-voting-vote-up-inact,
* html .project-issue-voting-widget .project-issue-voting-up-inact {
  width: 55px;
}
* html .content {
  height: 1%;
}
/* End hide from IE-mac */
